<!DOCTYPE html>
<html>
    <head>
        <title>Info</title>
    </head>

    <body>
        <div id = "container">
            <form method = "post" action = "/users">
            <div class = "form-group">
                <label>First Name</label>
                <input type = "text" name = "fnm" placeholder = "Enter First Name" class = "form-control">
            </div>

            <div class = "form-group">
                <label>Last Name</label>
                <input type = "text" name = "lnm" placeholder = "Enter last name" class = "form-control">
            </div>

            <div class = "form-group">
                <label>University</label>
                <input type = "text" name = "uni" placeholder = "University Name" class = "form-control">
            </div>

            <div class = "form-group">
                <label>Major</label>
                <select name = "major">
                    <option name = "Computer Science">Computer Science</option>
                    <option name = "MIS">MIS</option>
                    <option name = "BIA">BIA</option>
                    <option name = "Bio Technology">Bio Technology</option>
                </select>
            </div>

            <button type = "submit" class = "btn btn-primary">Submit</button>
        </form>
    </div>
        
    </body>
</html>