<!DOCTYPE html>
<html>
    <head>
        <title>User Info</title>
    </head>

    <body>
        <ul>
            {{# each users}}
            <li>First Name : {{fnm}}</li>
            <li>Last Name : {{lnm}}</li>
            <li>University : {{uni}}</li>
            <li>Major : {{major}}</li>
            {{/each}}
        </ul>

        
    </body>
</html>