<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>

    <body>
        {{#if errors}}
            <ul>
                {{#each errors}}
                    <li>{{msg}}</li>
                {{/each}}
            </ul>
        {{/if}}
        <form method = "post" action = "/users">
            <label>First Name</label><br>
            <input type = "text" name = "fnm" placeholder = "Enter First Name"><br>

            <label>Last Name</label><br>
            <input type = "text" name = "lnm" placeholder = "Enter Last Name"><br>

            <label>Email</label><br>
            <input type = "text" name = "email" placeholder = "Enter Email"><br><br>

            <button type = "submit">Add User</button>
        </form>
    </body>
</html>