<!DOCTYPE html>
<html>
    <head>
        <title>Users Info</title>
    </head>
    <body>
        <ul>
            {{#each callback}}
                <li>First Name : {{first_name}}</li>
                <li>Last Name : {{last_name}}</li>
                <li>Email : {{email}}</li>
                <hr>
            {{/each}}
        </ul>
    </body>
</html>