<html>
    <head>
        <title>Users</title>
    </head>

    <body>
        
        <ul>
            {{# each users}}
                <li>Name : {{Name}}</li>
                <li>University : {{University}}</li>
                <li>Age : {{Age}}</li>
                <br><hr>
            {{/each}}
        </ul>
        
    </body>
</html>