<!DOCTYPE html>
<html>
    <head>
        <title>User Info</title>
    </head>

    <body>
        

        <ul>
            {{# each users}}
            
                <li>First Name : {{firstName}}</li>
                <li>Last Name : {{lastName}}</li>
                <li>Email : {{email}}</li>
            
             {{/each}}
        </ul>
    </body>
</html>